body {
	font-family:arial;
	font-size:14px;
	color:#i178b33;
	background:#B7B7B7
	margin:0px;
}

//code by Khayun Andika
//You can copy source code but dont remove credit.
//Facebook: fb.com/khayunwang
//Github: https://github.com/khayun